.dieta-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 250px;
}
.container-geral {
    display: flex;
    height: 75%;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10%;
    align-items: top;
}


.container-pacientes {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 250px;
    color: rgba(0, 0, 0, 0.59);
}
.container-pacientes div input {
    border-radius: 10px;
    border: none;
    padding: 3%;
    width: 100%;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.container-pacientes div input::placeholder {
    color: #999;
    font-size: 1rem;
}
.container-pacientes div {
    font-size: 1rem;
}
.container-pacientes .box-pacientes {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}
.paciente {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
}


.pacientesControllerBox:hover {
    background-color: #b6b6f6;
    background-color: #b6b6f6;
    color: #FFF;
    transition: 0.3s;
    border-radius: 10px;
}
.pacientesControllerBox:hover .nomePacientePrincipal {
    color: #FFF;
    transition: 0.3s;
}
.nomePacientePrincipal {
    font-size: 2rem;
    color: #000;
}
.pacientesControllerBox {
    display: flex;
    width: 100%;
    height: 100%;
}
.imagem {
    width: 20%;
    height: 100%;
    display: flex;
}
.imagem img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nomeBox {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 5px;
    padding-left: 5%;
    width: 80%;
}
.semanasGestante {
    font-weight: 400;
    font-size: .9rem;
}


.container-dieta {
    background-color: #ffffff;
    width: 30%;
    height: 70%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #07070911;
}
.box-dieta {
    height: fit-content;
    padding: 3%;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.container-refeicoes-padrao {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 30px;
}
.refeicao-padrao {
    background-color: #b6b6f6;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    border-radius: 20px;
    color: white;
    border: 3px solid #b6b6f6;
    margin-left: 5%;
}
.refeicao-padrao:hover {
    background-color: #b6b6f667;
    color: #b6b6f6;
}
.refeicao-padrao span {
    font-size: 1.1rem;
    font-weight: 700;
}


.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c7c;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
}
.modalBox {
    background-color: #FFF;
    border-radius: 20px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.modalContent {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
}
.modalContent button {
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    background-color: #FFF;
    color: #b6b6f6;
    padding: 1%;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #b6b6f6;
    transition: all 0.3s ease-in;
}
.modalContent button:hover{
    background-color: #b6b6f6;
    color: white;
}
.closeButtonModal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.7rem;
    cursor: pointer;
}


.modalContainerRefeicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
}
.modalContentRefeicoes {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    color: #b6b6f6;
    align-items: center;
}
.modalContentRefeicoes h4 {
    color: #00000097;
    font-weight: 500;
}


.nome-paciente-modal {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    height: auto;
    margin-bottom: 2rem;
    justify-content: flex-start;
}
.nome-paciente-modal div {
    background-color: #b6b6f6;
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    padding: .3%;
    border-radius: 50%;
}
.nome-paciente-modal div img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.refeicoes-pacientes-modal {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;
}
.refeicoes-pacientes {
    background-color: #b6b6f6;
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 2.2%;
    border-radius:20px;
    cursor: pointer;
    border: 3px solid #b6b6f66d;
    color: #FFF;
    align-items: center;
    font-weight: 500;
    transition: all 0.2s ease;
}
.refeicoes-pacientes:hover {
    background-color: #b6b6f6;
    padding: 2.2%;
    margin-left: 1%;
    color: #fff;
    border: 3px solid #66666820;
}
.refeicoes-pacientes span {
    font-size: 1.1rem;
    font-weight: 700;
}