.dieta-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 250px;
}

.container-geral {
    display: flex;
    height: 75%;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    background-color: plum;
    align-items: center;
}

.container-pacientes {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 250px;
    color: rgba(0, 0, 0, 0.59);
}

.container-pacientes div input {
    border-radius: 10px;
    border: none;
    padding: 3%;
    width: 100%;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.container-pacientes div input::placeholder {
    color: #999;
    font-size: 1rem;
}

.container-pacientes div {
    font-size: 1rem;
}

.container-pacientes .box-pacientes {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.paciente {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
}

.pacientesControllerBox:hover{
    background-color: #b6b6f6;
    background-color: #b6b6f6;
    color: #FFF;
    transition: 0.3s;
    border-radius: 10px;
}
.pacientesControllerBox:hover .nomePacientePrincipal{
    color: #FFF;
    transition: 0.3s;
    
}

.nomePacientePrincipal{
    font-size: 2rem;
    color:#000;
}

.pacientesControllerBox{
    display: flex;
    width: 100%;
    height: 100%;
}

.imagem {
    width: 20%;
    height: 100%;
    display: flex;
}

.imagem img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nomeBox{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 5px;
    padding-left: 5%;
    width: 80%;
}


.semanasGestante{
    font-weight: 400;
    font-size: .9rem;
}

.container-dieta {
    background-color: #ffffff;
    width: 60%;
    height: 100%;
    display: flex;
    border-radius: 10px;
}

.box-dieta{
    height: 100%;
    padding: 5%;
    border-radius: 10px;
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.box-controler-breakfast{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 115px;
    height: auto;
    overflow: auto;
}

.boxContent{
    display: flex;
    width: 100%;
    gap: 30%;
    align-items:center;
    justify-content:center;
}

.boxContent span{
    width: 50%;
    display: flex;
    align-items: center;
}

