.container_geral {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 05%;
    padding-top: 06%;
    gap: 20px;

    .container_cima {
      height: 10%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #b6b6f6;
      border-radius: 10px;

      .container_title {
        font-size: 3rem;
        color: #fff;
      }
    }

    .container_perfil {
        width: 80%;
        height: 100%    ;
        border-radius: 10px;

      .container_dados {
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 100%;
        height: 100%;
        padding: 3%;
        

        .dados_iniciais {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: auto;

          .dados_foto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: 30px;

            .dados_title {
              font-weight: 500;
              margin: 0;
              padding: 0;
              text-align: center;
              align-self: center;
              font-size: 35px;
              border-bottom: 2px solid #b6b6f6;
            }

            .img_img {
              background: #b6b6f6;
              padding: 4px;
              display: flex;
              object-fit: cover;
              width: 200px;
              height: 200px;
              transition: padding 0.5s ease;
              align-self: center;
              border-radius: 50%;

              &:hover {
                padding: 0;
              }

              img {
                border-radius: 50%;
                width: 100%;
              }
            }
          }

          .inputs {
            gap: 30px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            
            label{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 32%;
                
            }

            input {
              width: 100%;
              height: 50px;
              border: none;
              border-radius: 10px;
              background-color: #f5f5f5;
              padding: 20px;
            }
          }
        }

        .dados_finais {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          height: auto;

          .inputs_row1 {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            textArea {
              background-color: #f5f5f5;
              width: 100%;
              height: 200px;
              border: none;
              border-radius: 10px;
              padding: 20px;
              resize: none;
            }
          }

          .inputs_row2 {
            gap: 20px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            label{
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 100%;
              
          }

            input {
              background-color: #f5f5f5;
              height: 50px;
              border: none;
              border-radius: 10px;
              padding: 20px;
            }

            .input_rua {
              width: 100%;
            }

            .input_cep {
              width: 100%;
            }

            .input_n {
              width: 100%;
            }

            .input_bairro {
              width: 100%;
            }

            .input_cidade {
              width: 100%;
            }
          }

          .inputs_row3 {
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            align-items: center;
            justify-content: center;

            input {
              background-color: #f5f5f5;
              height: 50px;
              border: none;
              width: 500px;
              border-radius: 10px;
              padding: 20px;
            }
          }

          .btn {
            background-color: #b6b6f6;
            width: 150px;
            height: 40px;
            border-radius: 8px;
            border: none;
            color: white;
            font-size: 18px;
            margin-top: 10px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .container_geral {
        padding-bottom: 30px;
        width: 100vw !important;

        .container_dados {
          border: none !important;
          box-shadow: none !important;
          margin-left: 0px !important;
          margin-top: 300px !important;
        }
      }
    }

    @media (max-width: 710px) {
      .container_geral {
        .container_dados {
          margin-top: 380px !important;
        }
      }
    }

    @media (max-width: 650px) {
      .container_geral {
        .container_dados {
          margin-top: 380px !important;
        }
      }
    }

    @media (max-width: 600px) {
      .container_geral {
        .container_dados {
          margin-top: 480px !important;
        }
      }
    }

    @media (max-width: 420px) {
      .container_geral {
        .container_dados {
          margin-top: 750px !important;
        }
      }
    }

    @media (max-width: 400px) {
      .container_geral {
        .container_dados {
          margin-top: 1050px !important;
        }
      }
    }
  }
}
