.divLine {
  background-color: var(--medium-purple);
  height: 200px;
  margin-top: 10px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 12%;
  padding-right: 12%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
    height: auto;

    .container__text {
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;

      h1 {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .container__funcionalidades {
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 50px;
      height: auto;

      .funcionalidade {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 120px;
        background-color: #fefefe;
        border-radius: 10px;
        box-shadow: var(--box-shadow);

        .descricao {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 30px;
          color: var(--medium-purple);
          align-items: center;
          padding: 10px;

          .text {
            color: var(--gray);
            font-size: 15px;
            text-align: center;
            font-weight: 600;
          }
        }
      }

      .funcionalidade:hover {
        background-color: #f9f9ffea;
        transition: 0.3s ease-in;
        transform: scale(1.08);
      }
    }
  }
}

@media (max-width: 768px) {
  .divLine {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;

    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .container__text {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;

        h1 {
          color: white;
          font-size: 2rem;
          font-weight: 600;
          text-align: center;
        }
      }
      .container__funcionalidades{
        width: 100%;

        .funcionalidade{
          display: flex;
          align-items: center;
          justify-content: center ;
          width: 80%;
          height: 130px;
        }
      }
    }
  }
  .container__funcionalidades {
    flex-direction: column;
  }
}
