.home {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 9%;
    gap: 40px;
  
    .container__text_home {
      gap: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
  
        h1 {
          color: var(--primary-color);
        }
      }
  
      p {
        font-size: 1.4rem;
        text-align: center;
      }
  
      button {
        font-size: 1.4rem;
        width: 160px;
        border-radius: 50px;
        background-color: var(--primary-color);
        color: white;
        font-weight: 600;
        padding: 4px;
        border: none;
        justify-content: center;
      }
    }
  
    .container__img_home {
      width: 100%;
  
      img {
        width: 100%;
      }
    }
  
    @media (min-width: 650px) {
      flex-direction: row;
      padding: 2rem 9%;
      align-items: center;
  
      .container__text_home {
        align-items: flex-start;
        width: 700px;
        gap: 0px;
  
        h1 {
          text-align: start;
          font-size: 1.8rem;
        }
  
        p {
          text-align: start;
          font-size: 1rem;
        }
  
        button {
          font-size: 1rem;
          width: 150px;
        }
      }
    }
  
    @media (min-width: 800px) {
      .container__text_home {
        width: 60%;
  
        h1 {
          font-size: 2rem;
        }
  
        p {
          font-size: 1.2rem;
        }
  
        button {
          font-size: 1.2rem;
        }
      }
  
      .container__img_home {
        width: 40%;
      }
    }
  
    @media (min-width: 1000px) {
      justify-content: space-between;
      flex-direction: row;
      padding: 100px 120px;
      padding-top: 50px;
      align-items: center;
  
      .container__text_home {
        width: 500px;
        gap: 5px;
  
        h1 {
          font-size: 2.1rem;
        }
  
        p {
          font-size: 1.4rem;
        }
  
        button {
          font-size: 1.2rem;
          width: 160px;
        }
      }
  
      .container__img_home {
        width: 400px;
  
        img {
          width: 100%;
        }
      }
    }
  
    @media (min-width: 1200px) {
      justify-content: center;
      padding: 100px 130px;
      padding-top: 50px;
      gap: 100px;
  
      .container__text_home {
        width: 500px;
  
        h1 {
          font-size: 2rem;
        }
  
        p {
          font-size: 1.6rem;
        }
  
        button {
          font-size: 1.4rem;
          width: 180px;
        }
      }
    }
  
    @media (min-width: 1450px) {
      justify-content: center;
      padding: 100px 180px;
      padding-top: 60px;
      gap: 5%;
  
      .container__text_home {
        width: 40%;
        gap: 8px;
  
        h1 {
          font-size: 2.2rem;
        }
  
        p {
          font-size: 1.6rem;
        }
  
        button {
          font-size: 1.5rem;
          width: 200px;
        }
      }
  
      .container__img_home {
        width: 500px;
      }
    }
  
    @media (min-width: 2100px) {
      .container__text_home {
        h1 {
          font-size: 2.5rem;
        }
  
        p {
          font-size: 1.7rem;
        }
      }
    }
  
    @media (min-width: 2300px) {
      .container__text_home {
        h1 {
          font-size: 2.7rem;
        }
  
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
  