.previewContainer {
    width: 100%;
    overflow: auto;
    align-items: center;
  }
  
  .previewImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid rgb(226, 226, 226);
  }
  