.containerModal{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #b6b6f66e;
    z-index: 10000000;
}

.containerController{
    border-radius: 10px;
    width: 50%;
    height: 80%;
    background-color: #fff;
    overflow: auto;
}

.contentModal{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    overflow: hidden;
}

.headerModal{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.5rem;
}

.foods{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    width: 100%;
    height: 65vh;
    padding-top: 3%;
    overflow: auto;
}
.contentModal h2{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.boxFood{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    gap: 30px;
}

.foodItem{
    display: grid;
    align-items: center;
    grid-template-rows: 50% 50%;
    flex-direction: column;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    background-color: #b6b6f61e;
}

.imageFood{
    border-radius: 10px 10px 0 0 ;
    width: 100%;
    height: 100%;
    background-color: bisque;
}
.imageFood img{
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
}

.foodInformations{
    padding-top:1%;
    height: 100%;width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
    color: black;
}

.foodInformations span{font-weight: 500;
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
    text-transform: capitalize;
}