.login_pro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 90px;
  
    a {
      text-decoration: none;
  
      &.forgot_p {
        color: var(--yellow);
  
        &:hover {
          color: var(--medium-purple);
        }
      }
    }
  }
  
  .input_container_p {
    color: var(--medium-purple);
  
    a {
      color: var(--medium-purple);
    }
  }
  
  .button_login_pro {
    display: flex;
    height: 52px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background-color: var(--medium-purple);
    color: #fff;
    font-weight: 600;
    line-height: 100%;
    border-color: var(--medium-purple);
    cursor: pointer;
    border: none;
  
    button {
      font-size: 16px;
      background: transparent;
      border: none;
      color: #fff;
    }
  
    &:hover {
      opacity: 0.8;
    }
  }