.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  gap: 2%;
}

.container-pacientes {
  width: 35%;
  display: flex;
  margin-left: 250px;
  height: 100%;
  align-items: center;
}

.pacientes-container {
  width: 100%;
  height: 70%;
  gap: 1px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
}

.pacientes-container h1 {
  font-size: 3.5rem;
  color: #464444;
}

.container-pacientes input {
  width: 100%;
  height: 45px;
  margin-top: 1.5rem;
  border-radius: 10px;
  background: #fff;
  border: none;
  padding: 1rem;
  border: 1px solid #B6B6F6;
}

.pacientes {
  width: 100%;
  height: 70%;
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  overflow: auto;
}

.paciente {
  width: 100%;
  height: 65px;
  background-color: #b6b6f64d;
  border-radius: 12px;
  align-items: center;
  display: flex;
  padding: 1rem;
  gap: 10px;
  color: #464444;
  transition: all 0.5s;
  cursor: pointer;
}

.paciente:hover {
  background-color: #D5D5FF;
}

.paciente .imagem-div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paciente .imagem-div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.descricao-paciente-chat {
  width: 90%;
}

.descricao-paciente-chat .nome-paciente {
  font-weight: 600;
  font-size: 16px;
}

.descricao-paciente-chat .previa-mensagem {
  font-weight: 400;
  font-size: 14px;
}

.container-conversa {
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  height: 70%;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: #B6B6F6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.avatar img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.username h3 {
  color: #ffffff;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: 77%;
}

.chat-messages::-webkit-scrollbar {
  width: 0.2rem;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: rgba(182, 182, 246, 0.32);
  border-radius: 1rem;
}

.message {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  width: 100%;
  border-radius: 1rem;
  color: #000;
}

.sended {
  width: fit-content;
  justify-self: flex-end;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(182, 182, 246, 0.32);
}

.pai__sended {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.pai__recieved {
  display: flex;
  justify-content: flex-end;
  width: 100%
}

.recieved {
  justify-content: flex-end;
  background-color: plum;
}

.content {
  background-color: #9900ff20;
}

.container_input {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 70%;
  background-color: #D5D5FF;
  padding: 0 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  color: white;
  gap: .5rem;
}

.emoji-picker-react {
  position: absolute;
  top: -350px;
  background-color: #080420;
  box-shadow: 0 5px 10px #9a86f3;
  border-color: #9a86f3;
}

.emoji-scroll-wrapper::-webkit-scrollbar {
  background-color: #080420;
  width: 5px;
}

.emoji-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #9a86f3;
}

.emoji-categories button {
  filter: contrast(0);
}

.emoji-search {
  background-color: transparent;
  border-color: #9a86f3;
}

.emoji-group:before {
  background-color: #080420;
}

.emoji {
  position: relative;
}

.emoji svg {
  font-size: 1.5rem;
  color: #ffff00c8;
  cursor: pointer;
}

.input-container {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #fafaffb4;
}

.input-container button {
  padding: 0.2rem 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B6B6F6;
  border: none;
}

.input-container button svg {
  font-size: 2rem;
  color: white;
}

.input-container input {
  width: 90%;
  height: 60%;
  background-color: transparent;
  color: black;
  border: none;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.input-container input::selection {
  background-color: #9a86f3;
}

.input-container input:focus {
  outline: none;
}

.container_input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  height: auto;
  background-color: #D5D5FF;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

@media screen and (max-width: 720px) {
  .chat-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
    justify-content: center;
    background-color: #9a86f3;
    overflow: scroll;
    gap: 10px;
  }

  .container-pacientes {
    margin-left: 0px;
    width: 90%;
    display: flex;
    height: 250px;
    justify-content: center;
    background-color: plum;
  }

  .pacientes-container {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
  }

  .pacientes-container h1 {
    font-size: 40px;
    margin-bottom: 8px;
    text-align: center;
  }

  .container-pacientes input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    padding: 12px;
  }

  .pacientes {
    width: 100%;
    height: auto;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    overflow: auto;
  }

  .paciente {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-radius: 12px;
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 10px;
    color: #464444;
    transition: all 0.5s;
    cursor: pointer;
  }

  .paciente:hover {
    background-color: #D5D5FF;
  }

  .paciente .imagem-div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .paciente .imagem-div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .descricao-paciente-chat {
    width: 90%;
  }

  .descricao-paciente-chat .nome-paciente {
    font-weight: 600;
    font-size: 16px;
  }

  .descricao-paciente-chat .previa-mensagem {
    font-weight: 400;
    font-size: 14px;
  }

  .container-conversa {
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    max-height: 90%;
    height: 700px;
    margin-left: 0px;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #B6B6F6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .avatar img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }

  .username h3 {
    color: #ffffff;
  }

  .user-details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .chat-messages {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    height: 90%;
    max-height: 90%;
  }

  .chat-messages::-webkit-scrollbar {
    width: 0.2rem;
  }

  .chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(182, 182, 246, 0.32);
    border-radius: 1rem;
  }

  .message {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 1rem;
    color: #000;
  }

  .sended {
    width: fit-content;
    justify-self: flex-end;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(182, 182, 246, 0.32);
  }

  .pai__sended {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .pai__recieved {
    display: flex;
    justify-content: flex-end;
    width: 100%
  }

  .recieved {
    justify-content: flex-end;
    background-color: plum;
  }

  .content {
    background-color: #9900ff20;
  }

  .container_input {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 90%;
    background-color: #D5D5FF;
    padding: 0 1rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
  }

  .emoji-picker-react {
    position: absolute;
    top: -350px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
  }

  .emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
  }

  .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #9a86f3;
  }

  .emoji-categories button {
    filter: contrast(0);
  }

  .emoji-search {
    background-color: transparent;
    border-color: #9a86f3;
  }

  .emoji-group:before {
    background-color: #080420;
  }

  .emoji {
    position: relative;
  }

  .emoji svg {
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
  }

  .input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #fafaffb4;
  }

  .input-container button {
    padding: 0.3rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B6B6F6;
    border: none;
  }

  .input-container button svg {
    font-size: 2rem;
    color: white;
  }

  .input-container input {
    width: 90%;
    height: 60%;
    background-color: transparent;
    color: black;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  .input-container input::selection {
    background-color: #9a86f3;
  }

  .input-container input:focus {
    outline: none;
  }

  .container_input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #D5D5FF;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
  }
}