.agenda-container {
    margin-left: 250px;
    width: auto;
    height: 100vh;

    .agenda-header {
        font-size: 24px;
        color: #333;
    }
}

.calendario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-top: 60px;
    height: 100%;

    h1 {
        font-size: 3rem;
        color: #464444;
    }

    .container-calendario {
        display: flex;
        justify-content: center;
        gap: 4%;
        width: 90%;
    }

    .calendario {
        width: 50vw;
        padding: 1%;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid rgb(226, 226, 226);
         
        h2 {
            color: #464444;
        }

        button {
            background-color: #B6B6F6;
            border-color: #B6B6F6;
        }
    }
}

.compromissos {
    display: flex;
    text-align: center;
    color: #B6B6F6;
    flex-direction: column;
    gap: 32px;
    background-color: #fff;
    padding: 2%;
    border-radius: 20px;
    height: 74vh;
    overflow: auto;
    border: 1px solid rgb(226, 226, 226);

    .compromisso {
        display: flex;
        gap: 10px;

        .dia {
            display: flex;
            align-items: center;
            width: 50px;
            height: 50px;
            background: #B6B6F6;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 1.2rem;
            justify-content: center;
        }

        .consulta {
            width: 321px;
            height: 50px;
            border-radius: 10px;
            border: 1px solid #263238;
            display: flex;
            padding: 15px;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            color: #666161;

            .hora-paciente {
                display: flex;
            }

            .checkbox {
                display: flex;
            }
        }
    }
}

@media(max-width: 1600px) {
    .calendario-container {
        flex-direction: column;
        height: fit-content;
    }
}
