.new {
    display: flex;
    width: 350px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    border: 2px solid #B6B6F6;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 5px 5px 0px 0px #55555937;
    gap: 10px;
}

.image_card {
    width: 100%;
    display: flex;
    justify-content: center
}

.img_card {
    width: 100%
}

.author_new {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: grey;
}

.author {
    display: flex;
    gap: 10px;
    font-size: 15px;
}

.more {
    display: flex;
    border-radius: 50px;
    border: 2px solid #B6B6F6;
    padding: 0.3rem 1rem;
    background: white;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--primary-color);
    font-size: 15px;    
    cursor: pointer;
    text-transform: capitalize;
}

.more:hover{
    padding: 0.3rem 1.5rem;
    transition: 0.2s ease-in;
    background: #d7d7f756;
    font-weight: 500
}

.more i {
    font-size: 25px;
}

.desc_new{
    color: grey;
}

.title {
    font-weight: 600
}
