.dieta-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.container-geral {
    display: flex;
    margin-left: 120px;
    height: 75%;
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.container-pacientes {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-pacientes div input {
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #F6F3F1;
}

.container-pacientes div input::placeholder {
    color: #999;
    font-size: 17px;
}

.container-pacientes div span {
    font-size: 20px;
}

.container-pacientes .box-pacientes {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.paciente {
    width: 100%;
    height: 20%;
    background-color: aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #f6f3f1;
    display: flex;
    align-items: center;
}

.pacientesControllerBox{
    display: flex;
    width: 100%;
    height: 100%;
}

.imagem {
    width: 30%;
    height: 100%;
    display: flex;
}

.imagem img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.nomeBox{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-left: 5%;
    gap: 5px;
    padding: 50px;
}

.nomePaciente{
    font-size: 1.5rem;
}

.semanasGestante{
    font-weight: 400;
    font-size: 1rem;
}

.container-dieta {
    background-color: #F6F3F1;
    width: 55%;
    border-radius: 10px;
    height: 100%;
}