.container_geral {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 20px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 05%;
    gap: 20px;

    .container_cima {
      height: 10%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #b6b6f6;
      border-radius: 10px;

      .container_title {
        font-size: 3rem;
        color: #fff;
      }
    }
    .container-medicos {
      width: 80%;
      height: 70vh;
      border-radius: 10px;

      .container-box {
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 100%;
        height: 100%;
        padding: 3%;

        .filter-consultas {
          display: flex;
          justify-content: space-between;
          gap: 2%;
          width: 100%;
          height: 7%;

          .button-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;
            padding: 15px;
            background-color: #b6b6f6;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            font-size: 1.3rem;
            cursor: pointer;
            gap: 10px;
          }
          .button-filter:hover {
            background-color: #fff;
            color: #4c4c4c;
            border: 2px solid #b6b6f6;
            transition: 0.3s;
          }

          .pesquisarMedico {
            width: 30%;
            border-radius: 10px;
            resize: none;
            border: 1.5px solid #b6b6f6;
            padding-left: 2%;
            font-size: 1.1rem;
          }
        }
        .box-medicos {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
          height: 100%;

          h2 {
            font-size: 1.8rem;
          }

          .medicos {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            gap: 4%;
            overflow-x: auto;

            .item-consulta {
              display: flex;
              flex-direction: column;
              gap: 15%;
              height: 45%;
              width: 48%;
              padding: 2%;
              border-radius: 10px;
              border: 1px solid #b6b6f6;
              box-shadow: 3px 3px 5px #b6b6f600;

              .item {
                display: grid;
                justify-self: center;
                grid-template-areas: "foto informacoes";
                grid-template-columns: 20% 60%;
                gap: 5%;

                .fotoPaciente {
                  grid-area: foto;
                  width:100%;
                  height: 100%; 
                  background-color: #b6b6f6;
                  border-radius: 10px;
                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5%;
                  }
                }
                .informacoesPaciente {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  grid-area: informacoes;
                  width: 100%;
                  height: 70%;

                  .info-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    gap: 3%;

                    h3 {
                      display: flex;
                      gap: 2%;
                      font-size: 1.4rem;
                      font-weight: 600;
                    }

                    h4 {
                      font-size: 1.1rem;
                      font-weight: 500;
                    }
                  }
                }
              }
              .infoTwo {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 2%;

                .item-info {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #b6b6f6;
                  width: 100%;
                  padding: 2%;
                  color: #fff;
                  font-weight: 700;
                  padding: 10px;
                  border-radius: 10px;
                  border: 2px solid #b6b6f6;
                  cursor: not-allowed;

                  span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 3%;
                    font-size: 1rem;
                  }
                }
                .item-edit {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #b6b6f6;
                  width: 100%;
                  padding: 2%;
                  color: #fff;
                  font-weight: 700;
                  padding: 10px;
                  border-radius: 10px;
                  border: 2px solid #b6b6f6;

                  span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 3%;
                    font-size: 1rem;
                  }
                }
                .item-edit:hover {
                  background-color: #fff;
                  color: #4c4c4c;
                  border: 2px solid #b6b6f6;
                  font-size: 1.4rem;
                  cursor: pointer;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}
