.container_geral {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 20px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 05%;

    gap: 20px;

    .container_cima {
      height: 10%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #b6b6f6;
      border-radius: 10px;

      .container_title {
        font-size: 3rem;
        color: #fff;
      }
    }

    .container-medicos {
      width: 80%;
      height: 70vh;
      border-radius: 10px;

      .container-box {
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 100%;
        height: 100%;
        padding: 3%;

        .filter-consultas {
          display: flex;
          justify-content: space-between;
          gap: 2%;
          width: 100%;
          height: 7%;

          .button-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;
            padding: 15px;
            background-color: #b6b6f6;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            font-size: 1.3rem;
            cursor: pointer;
            gap: 10px;
          }

          .button-filter:hover {
            background-color: #fff;
            color: #4c4c4c;
            border: 2px solid #b6b6f6;
            transition: 0.3s;
          }

          .pesquisarMedico {
            width: 30%;
            border-radius: 10px;
            resize: none;
            border: 1.5px solid #b6b6f6;
            padding-left: 2%;
            font-size: 1.1rem;
          }
        }


        .box-medicos {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
          height: 100%;

          h2 {
            font-size: 1.8rem;
          }

          .medicos {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            gap: 4%;
            overflow-x: auto;

            .item-consulta {
              width: 100%;
              display: inline-block;
              box-sizing: border-box;
              height: 200px;

              table {
                width: 100%;
                border-collapse: collapse;


                tr:hover {
                  background-color: #b6b6f648;
                  transition: 0.2s;
                  cursor: pointer;

                }

                th,
                td {

                  text-align: left;
                  padding: 10px;
                  text-align: left;
                }

                td {
                  text-align: left;
                  font-size: 1.2rem;
                  padding: 10px;
                  text-align: left;

                  div {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .round_image {
                      border-radius: 50%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                    }
                  }

                  .item-edit {
                    display: flex;
                    align-items: center;
                    padding-left: 5%;
                    text-align: center;
                    font-size: 1rem;
                  }

                  .item-edit:hover {
                    color: #000000;
                    font-weight: 700;
                    cursor: pointer;
                    transition: 0.3s;
                  }
                }

                th {
                  color: grey;
                  padding-bottom: 3px;
                  font-weight: 400;
                  border-bottom: 1px solid #dddddd;
                }

              }
            }
          }
        }
      }
    }
  }
}

@media(max-width:768px) {
  .container_geral {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 0%;
      gap: 20px;

      .container_cima {
        height: 50px;
        width: 90%;
        align-items: center;
        justify-content: center;
        background-color: #b6b6f6;
        border-radius: 5px;
        margin-top: 05%;

        .container_title {
          font-size: 1.5rem;
          color: #fff;
        }
      }

      .container-medicos {
        width: 80%;
        height: 90vh;

        .container-box {
          padding: 0;
          gap: 20px;

          .filter-consultas {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            width: 100%;
            height: auto;
            padding: 0;

            .button-filter {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 40px;
              padding: 2%;
              background-color: #b6b6f6;
              border: none;
              border-radius: 5px;
              color: #fff;
              font-weight: 600;
              font-size: 0.8rem;
              cursor: pointer;
              gap: 10px;
            }

            .pesquisarMedico {
              padding: 3%;
              width: 100%;
              border-radius: 10px;
              resize: none;
              border: 1.5px solid #b6b6f6;
              padding-left: 2%;
              font-size: 0.8rem;
            }
          }

          .box-medicos {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: 100%;

            h2 {
              font-size: 1.8rem;
            }

            .medicos {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              height: 100%;
              gap: 4%;
              overflow-x: auto;

              .item-consulta {
                width: 100%;
                display: inline-block;
                box-sizing: border-box;
                height: 200px;

                table {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  border-collapse: collapse;

                  thead {
                    width: 100%;

                    tr {
                      display: flex;
                      width: 800PX;

                      th {
                        font-size: 0.9rem;
                        text-align: center;
                        width: 100%;
                      }
                    }
                  }

                  tr:hover {
                    background-color: #b6b6f648;
                    transition: 0.2s;
                    cursor: pointer;

                  }

                  tbody {
                    width: 100%;

                    tr {
                      display: flex;
                      width: 830PX;

                      td {
                        text-align: center;
                        font-size: 1rem;
                        padding: 10px;
                        width: 800px;

                        div {
                          display: flex;
                          align-items: center;
                          gap: 5px;
                          font-size: 0.9rem;

                          .round_image {
                            border-radius: 100%;
                            width: 45px;
                            height: 45px;
                            object-fit: cover;
                          }
                        }
                      }

                      .item-edit {
                        display: flex;
                        align-items: center;
                        padding-left: 1%;
                        text-align: center;
                        font-size: 1rem;
                      }

                      .item-edit:hover {
                        color: #000000;
                        font-weight: 700;
                        cursor: pointer;
                        transition: 0.3s;
                      }
                    }
                  }

                  th {
                    color: grey;
                    padding-bottom: 3px;
                    font-weight: 400;
                    border-bottom: 1px solid #dddddd;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}