.description__ex {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 4px dotted var(--primary-color);
}

.articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 100px;
    gap: 40px;
}

